html,
body {
  background-color: #121212;
  color: #e1e1e1;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .w-color-interactive {
    width: 200px !important
  ;
    height: 200px !important;
  }
  .volume {
    height: 200px !important;
  }
}
